.grid{
	
	width: 400px;
	height:1000px;
	display:grid;
	grid-template-columns: 350px 1150px; 
	grid-template-rows: 250px 650px; 
}
.box{
	
	color: black;
	border-radius: 5px;
	
}
.a{
	font-size: 22px;
	background-color: black;
	color: white;
	height: 1000px;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: span 2;
}
.a img{
	  border-radius: 50%;
	  height: 200px;
	  width: 200px;
}
.b{
	background-image: url("worldwide-connection-blue-background-illustration-vector_53876-80910.jpg");
	font-family: Garamond;
	font-size: 25px;
	background-color: #2B4F81	;
	color: white;
}
.c{ 
	background-color: beige;
	height: 750px;
}
.a li{
	display:block;
	color: #000;
  padding: 8px 16px;
 
}
.a ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	  border: 1px solid white;
	  background-color: beige;
	  width: 200px;


}
